.heading {
    width: 100%;
    text-align: left;
    padding: 5px ;
    font-size: 30px;
}

.instructions {
    float: right;
}

.heading h3{
    display: inline;
}

.big_image {
    width: 100%
}

#source_code {
    width: 100%;
    background-color: dimgray;
    color: white;
    padding: 10px;
    margin: 0px;
}

.instructions_image {
    display: inline-block;
    width: 45%;
}

#myModal {
    width: 100%;
}

video {
    background-image: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
    
}

